numpy
pandas
Pillow
scikit-learn
scikit-image
matplotlib
quantities
torch 
torchvision 
PyWavelets
torchmetrics
ipython
qrcode
tqdm
ipykernel
#python -m ipykernel install --user --name=selfphish --display-name "Python (selfphish)"